.container {
  min-height: 30px;
  border-radius: 4px;
  padding: 0.5rem;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.btnDanger {
  color: white;
  background-color: red;
}

.btnSuccess {
  color: white;
  background-color: #2ea44e;
}
