.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-shadow: 0 0.01em 0.3rem 0 #797979;
    margin: 0 0 2.5rem;
    padding: 0.75rem 1rem;
}

.appName {
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    img {
        height: 2.5rem;
        margin-right: 0.4rem;
    }
}

.leftNav {
    display: flex;
    align-items: center;
}

.menuItem {
    @apply font-medium;
    @apply tracking-wide;
    display: inline-block;
    margin: 0 1rem;
    opacity: 0.6;
}
