.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    box-shadow: 0px 0.01em 6px 0px #797979;
    margin-top: 1rem;
    margin: 0 0 42px;
    padding: 12px;
}

.appName {
    display: flex;
    align-items: center;
    font-size: 24px;

    img {
        height: 40px;
        margin-right: 4px;
    }
}

.link {
    margin: 0 16px;
}