@import "../../styles/colors.module.scss";

$border: 1px solid $pink;
$border-radius: 3px;

.container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  padding: 1rem;

  input {
    min-height: 100%;
    padding-left: 0.5rem;
    border-radius: $border-radius;
    border-bottom: $border;
    border-top: $border;
    
    &:focus {
      outline: 2px solid $border;
      outline-style: auto;
    }
  }

  textarea {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: $border-radius;
    border-bottom: $border;
    border-top: $border;

    &:focus {
      outline: 2px solid $border;
      outline-style: auto;
    }
  }
}

.button {
  height: 100%;
  border-radius: 4px;
  background-color: greenyellow;
  color: green;
  font-weight: 800;
  letter-spacing: 1.25px;
  opacity: 0.9;
  padding: 0.75rem 0;
}