/* CSS */
// --rich-black-fogra-39: hsla(150, 38%, 6%, 1);
// --sage: hsla(63, 12%, 73%, 1);
// --timberwolf: hsla(55, 6%, 84%, 1);
// --auburn: hsla(1, 75%, 64%, 1);
// --burnt-umber: hsla(3, 76%, 56%, 1);

// /* SCSS HEX */
// $rich-black-fogra-39: #0a100dff;
// $sage: #b9baa3ff;
// $timberwolf: #d6d5c9ff;
// $auburn: #a22c29ff;
// $burnt-umber: #902923ff;

// /* SCSS HSL */
// $rich-black-fogra-39: hsla(150, 38%, 6%, 1);
// $sage: hsla(63, 12%, 73%, 1);
// $timberwolf: hsla(55, 6%, 84%, 1);
// $auburn: hsla(1, 75%, 64%, 1);
// $burnt-umber: hsla(3, 76%, 56%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(10, 16, 13, 1);
$sage: rgba(185, 186, 163, 1);
$timberwolf: rgba(214, 213, 201, 1);
$auburn: rgba(162, 44, 41, 1);
$burnt-umber: rgba(144, 41, 35, 1);
$pink: rgba(255, 168, 192, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-right: linear-gradient(90deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-bottom: linear-gradient(180deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-left: linear-gradient(270deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-top-right: linear-gradient(45deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-bottom-right: linear-gradient(135deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-top-left: linear-gradient(225deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-bottom-left: linear-gradient(315deg, #0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);
$gradient-radial: radial-gradient(#0a100dff, #b9baa3ff, #d6d5c9ff, #a22c29ff, #902923ff);

$app-background: #2d132c;
$text: #E3E3E3;
$card-background: white;
$card-background--dark: #f3f3f3;