@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  color: #f8f8f8;
  background: #131318;
  display: flex;
  flex-direction: column;
}

body input,
body textarea {
  color: black;
}

a {
  color: #2d7bd4;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
