@import "../../styles/colors.module.scss";

.title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.votes {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: black
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}