$header-font-size: 3rem;

.container {
  display: flex;
  flex-direction: column;
}

.loading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 10rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: $header-font-size;
  margin: 8px 16px;

  h1 {
    display: flex;
    align-items: center;
  }
}

.brain {
  display: flex;
  align-items: center;
  height: 50px;
}

.loginButton {
  max-height: 50px;
}

.main {
  @media (min-width: 700px) {
    width: 700px;
  }
}
